################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ProjectSettings.json
/.vs/nanaLineBot/v17/.suo
/.vs/nanaLineBot/v17
/.vs/nanaLineBot/project-colors.json
/.vs/slnx.sqlite
/nanaLineBot/LineBot/obj
/LineBot/obj
/LineBot/UploadFiles

