################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ProjectSettings.json
/.vs/nanaLineBot/v17/.suo
/.vs/nanaLineBot/project-colors.json
/.vs/slnx.sqlite
/.vs
/LineBot/obj/Release/net6.0
/LineBot/obj/Debug/net6.0
